<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    body {
  font-family: Arial, sans-serif;
  margin: 0;
        }
    .about-section {
  padding: 120px;
  text-align: center;
  background-color: #45619c;
  color: white;
        }
</style>
<body>
    <div class="about-section">
    <h1>ABOUT US</h1>
    <p>Whatever you do, do with determination.<br>You have one life to live; do your work with passion and give your best.<br> Whether you want to be a chef, doctor, actor, or a mother, be passionate to get the best result.</p>
    <p> We established started our journey on 29th January 1996 </p></div>
    <img src="bg2.jpg" height="400" width="100%">
</body>
</head>
</html>