<html>
<style>
</style>
<body>
<p id="p1" style="font-size:40px";></p>
</body>
<script>
var s="";
var total=0;
var d={"Dosa":50,"Idly":40,"Upma":50,"Sambar Vada":55,"Our combo special":60,"Veg fried rice":150,"Thali":80,"Chapathi Curry":60,"Special Combo":100,"Paneer Tikka Masala":150,"Chicken Biryani":150,"Sandwich":50,"Chips":20,"Ice cream":50,"Cookies":30,"Chocolates":20};
for(const key in localStorage)
{
if(localStorage.hasOwnProperty(key)==true)
{

s+=key+":"+(parseInt(d[key.toString()])*parseInt(localStorage.getItem(key))).toString()+"<br>";
total+=parseInt(d[key.toString()])*parseInt(localStorage.getItem(key));
}

}
s+="total:"+total;
document.getElementById("p1").innerHTML=s;
</script>
</html>