<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles.css">
	<title>Menu</title>
</head>
<body>
	<div id="nav-bar-div">
        <nav id="nav-bar">
            <a class="nav-element" id="nav-home" href="">Home</a>
            <a class="nav-element" id="nav-about" href="">About</a>
            <a class="nav-element" id="nav-menu" href="">Menu</a>
            <a class="nav-element" id="nav-feedback" href="">Feedback</a>
            <a class="nav-element" id="nav-contact" href="">Contact us</a>
        </nav>
    </div>

			<frameset cols="50%,50%">
				<frame name="items" src="Food items.html">
					<frame name="selected" src="Cart.html">
			</frameset>


</body>

</html>