<html>
    <body>

        <p>Your total amount:</p>
        <input type="button" value="Get" onclick="get()"/>
        <p id="p2"></p>
        <p>Payment options:</p>
        <select required>
            <option value="1">Select</option>
            <option value="2">Gpay</option>
            <option value="3">Phonepe</option>
            <option value="4">COD</option>
        </select>
    </body>
    <script>
        var amount=localStorage.getItem("cost");
        document.getElementById("p2").innerHTML=amount;
        function get () {
      // (A) GET THE PARAMETERS
      var params = new URLSearchParams(window.location.search),
          first = params.get("first");
         
    
      // (B) IT WORKS!
      document.getElementById("p2").innerHTML=first;  
      
    }
    </script>
</html>