<html>
    <style>
        #nav-bar {
    text-align: center;
    margin-top: 40px;
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 10px;
    background-color: rgba(252, 231, 125, 0.5);
}
.nav-element {
    margin-left: 25px;
    margin-right: 25px;
    font-size: xx-large;
    color: #292826;
}
    </style>
    <body>
        <div id="nav-bar-div">
            <nav id="nav-bar">
                <a class="nav-element" id="nav-home" href="">Home</a>
                <a class="nav-element" id="nav-about" href="">About</a>
                <a class="nav-element" id="nav-menu" href="">Menu</a>
                <a class="nav-element" id="nav-feedback" href="">Feedback</a>
                <a class="nav-element" id="nav-contact" href="">Contact us</a>
            </nav>
        </div>

        <p>Your total amount:</p>
        <input type="button" value="Get" onclick="get()"/>
        <p id="p2"></p>
        <p>Payment options:</p>
        <select required>
            <option value="1">Select</option>
            <option value="2">Gpay</option>
            <option value="3">Phonepe</option>
            <option value="4">COD</option>
        </select>
        <br>
        <br>
        <a href="Thankyou.html">Finish!</a>
    </body>
    <script>
        var amount=localStorage.getItem("cost");
        document.getElementById("p2").innerHTML=amount;
        function get () {
      // (A) GET THE PARAMETERS
      var params = new URLSearchParams(window.location.search),
          first = params.get("first");
         
    
      // (B) IT WORKS!
      document.getElementById("p2").innerHTML=first;  
      
    }
    </script>
</html>