{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canteen Management System</title>
    <link rel="stylesheet" href="{% static '/styles/styles.css' %}">
</head>

<body id="page-body">
    <div id="nav-bar-div">
        <nav id="nav-bar">
            <a id="nav-home" href="/">Home</a>
            <a id="nav-about" href="about">About</a>
            <a id="nav-menu" href="menu">Menu</a>
            <a id="nav-feedback" href="feedback">Feedback</a>
            <a id="nav-contact-us" href="contacts">Contact us</a>
            <a id="nav-signup" href="signup">signup</a>
            <a id="nav-login" href="login">Login</a>
        </nav>
    </div>
    <br>
    <div>
        <p class="title" id="welcome-title">Welcome!</p>
        <p class="text" id="welcome-content">This is our Canteen Management System, use this website to
            order your canteen meals beforehand so you can avoid the wait
            and enjoy your food warm and fresh!</p>
    </div>
    <div>
        <br>
        <div class="table-cell" id="login-div">
            <p class="title" id="login-title">Login</p>
            
            <form method="POST" class="form" id="login-form" action="user">
                <!-- Security token -->
                {% csrf_token %}
            
                <!-- Using the formset -->
                {{ form.as_p }}
                <label for="email-address">Enter email address:</label><br>
                <input name="user" class="component" id="email-address" type="text"  placeholder="example.com.."><br>
                <label for="password">Enter password:</label><br>
                <input name="password" class="component" id="password" type="text"  placeholder="password"><br>
                <div class="buttons-component" id="login-buttons">
                    <input type="submit" id="student-login-submit" class="buttons"  value="Student Login">
                </div>
            </form>
        </div>

        <div class="table-cell" id="signup-div">
            
            <form method="POST" class="form" id="signup-form" action="add">
                <p class="title" id="signup-title">Signup</p>
                <!-- Security token -->
                {% csrf_token %}
            
                <!-- Using the formset -->
                {{ form.as_p }}
                <label for="name">Enter name:</label><br>
                <input class="component" id="name" type="text" name="user" placeholder="Example"><br>
                <label for="email-address">Enter email address:</label><br>
                <input class="component" id="email-address" type="text" name="email" placeholder="example.com.."><br>
                <label for="password">Enter password:</label><br>
                <input class="component" id="password" type="text" name="password" placeholder="example"><br>
                <label for="re-enter-password">Re-enter password:</label><br>
                <input class="component" id="re-enter-password" type="text" name="repass" placeholder="example"><br>
                <div class="buttons-component" id="login-buttons">
                    <input id="student-signup-submit" class="buttons" type="submit" value="Student Signup">
                    <input id="admin-signup-submit" class="buttons" type="submit" value="Admin Signup">
                </div>
            </form>
        </div>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</html>