{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canteen Management System</title>
    <link rel="stylesheet" href="{% static '/styles/styles.css' %}">
</head>

<body id="page-body">
    <div id="nav-bar-div">
        <nav id="nav-bar">
            <a id="nav-home" href="/">Home</a>
            <a id="nav-about" href="about">About</a>
            <a id="nav-menu" href="menu">Menu</a>
            <a id="nav-feedback" href="feedback">Feedback</a>
            <a id="nav-contact-us" href="contacts">Contact us</a>
            <a id="nav-signup" href="signup">signup</a>
            <a id="nav-login" href="login">Login</a>
        </nav>
    </div>
    <br>
    <div id="index-content">
        <div class="table-cell" id="welcome-div">
            <p class="title" id="welcome-title">Welcome!</p>
            <p class="text" id="welcome-content">This is our Canteen Management System, use this website to
                order your canteen meals beforehand so you can avoid the wait
                and enjoy your food warm and fresh!</p>
        </div>
    </div>

</body>

</html>